*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #222f3e; }

.heading-primary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 5rem;
  display: inline-block;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ee5253, #ff9ff3);
  -webkit-background-clip: text;
  color: transparent; }

.heading-secondary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
  color: #01a3a4; }

.paragraph {
  font-size: 1.6rem; }

.no-margin {
  margin: 0 !important; }

.u-empty-content {
  opacity: 0; }

.u-invisible {
  display: none; }

.u-visible {
  display: block; }

.steven {
  margin-top: 2rem;
  margin-left: 6rem; }

.about {
  margin: 0 3rem;
  padding: 3rem; }
  .about__stats__list {
    list-style: none;
    border: 2px solid #ee5253;
    border-radius: 10px;
    overflow: hidden; }
    .about__stats__list__item {
      font-size: 1.6rem;
      padding: 1rem; }
    .about__stats__list__item:nth-child(2n) {
      background-color: #ff9f43;
      color: white; }

.profile img {
  width: 100%; }

.bio {
  font-size: 1.6rem;
  margin-left: 5rem; }

.controls {
  min-height: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(130deg, #ee5253 35%, white 35%); }
  .controls__title {
    color: white;
    font-size: 2rem;
    float: left;
    margin-left: 2rem;
    margin-top: .3rem; }
  .controls__list {
    list-style: none; }
    .controls__list__item {
      float: right;
      margin-right: 2rem;
      margin-top: 1rem; }
  .controls__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 none;
    background-color: #01a3a4;
    padding: .5rem;
    color: white;
    font-size: 1.3rem;
    font-family: inherit;
    cursor: pointer;
    transition: all .2s; }
    .controls__button:hover {
      transform: translateY(-3px);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4); }
    .controls__button:active, .controls__button:focus {
      transform: translateY(-2px);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
    .controls__button:active {
      background-color: #ff6b6b; }

.empty-content {
  opacity: 0; }

.todo {
  margin-bottom: 6rem; }
  .todo__content:not(:first-child) {
    margin-top: 2rem; }
  .todo__checkbox-input {
    display: none; }
  .todo__checkbox-label {
    font-size: 2rem;
    color: #ff6b6b;
    position: relative;
    padding-left: 2rem; }
  .todo__checkbox-input:checked + .todo__checkbox-label {
    text-decoration: line-through;
    color: #feca57; }
  .todo__checkbox-button {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border: 2px solid #01a3a4;
    position: absolute;
    left: 0;
    top: .5rem; }
    .todo__checkbox-button::after {
      opacity: 0;
      content: "";
      display: block;
      height: .6rem;
      width: .6rem;
      background-color: #01a3a4;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .todo__checkbox-input:checked ~ .todo__checkbox-label .todo__checkbox-button::after {
    opacity: 1; }
  .todo__due-date {
    float: right;
    padding-right: 2rem; }
  .todo__notes {
    font-size: 1.4rem;
    width: 70%; }
  .todo__checkbox-input:checked ~ .todo__notes {
    color: #c2c0c0; }
  .todo__checkbox-input:checked ~ .todo__checkbox-label .todo__due-date {
    color: #ff9ff3; }

.form__todo {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start; }
  .form__todo__input {
    margin-bottom: 3rem;
    border: 1px solid #ff6b6b;
    padding: .5rem;
    width: 100%; }
    .form__todo__input:focus {
      border: 1px solid #00d2d3; }
  .form__todo__label {
    font-size: 1.3rem;
    color: #01a3a4; }
  .form__todo__button {
    width: 10rem;
    height: 3rem;
    background-color: #ff9f43;
    border: 0 none;
    border-radius: 5px;
    color: white;
    font-size: 1.4rem;
    font-family: inherit; }
    .form__todo__button:hover {
      background-color: #f368e0; }

textarea {
  resize: none; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 37.5em) {
    .row {
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        margin-right: 0;
        margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 *((100% - 2 * 6rem) / 3 ) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 *((100% - 3 * 6rem) / 4 ) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 *((100% - 3 * 6rem) / 4 ) + 2 * 6rem); }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to right, #ee5253 70%, #feca57);
  height: 6rem; }

.footer-links {
  list-style: none; }
  .footer-links__link {
    display: inline-block;
    float: left;
    margin-right: 2rem;
    font-size: 1.3rem;
    margin-top: 1.5rem; }
    .footer-links__link:first-child {
      margin-left: 3rem; }
    .footer-links__link a {
      text-decoration: none;
      color: white; }

.title {
  width: 100%;
  height: 7rem;
  background-color: white;
  position: relative; }
  .title--name {
    display: inline-block;
    color: #ee5253;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: .3rem; }

.header {
  width: 100%;
  height: 3.3rem;
  background-color: #01a3a4;
  position: relative;
  border-top: 4px solid #ff9f43; }
  .header nav {
    height: 100%; }

.navigation {
  list-style: none;
  font-size: 1.6rem;
  height: 100%; }
  .navigation::after {
    content: "";
    display: table;
    clear: both; }
  .navigation__link {
    height: 100%;
    display: inline-block;
    float: left;
    margin-left: 2rem; }
    .navigation__link a {
      display: inline-block;
      height: 100%; }
      .navigation__link a:link, .navigation__link a:visited {
        text-decoration: none;
        color: white; }
      .navigation__link a:hover, .navigation__link a:active {
        border-bottom: 4px solid #ff6b6b; }
