*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #222f3e; }

.heading-primary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  display: inline-block;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ee5253, #ff9ff3);
  -webkit-background-clip: text;
  color: transparent; }

.heading-secondary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
  color: #01a3a4; }

.paragraph {
  font-size: 1.6rem; }

.about {
  margin: 0 3rem;
  padding: 3rem; }
  .about__stats__list {
    list-style: none;
    border: 2px solid #ee5253;
    border-radius: 10px;
    overflow: hidden; }
    .about__stats__list__item {
      font-size: 1.6rem;
      padding: 1rem; }
    .about__stats__list__item:nth-child(2n) {
      background-color: #ff9f43;
      color: white; }

.profile img {
  width: 100%; }

.bio {
  font-size: 1.6rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 37.5em) {
    .row {
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        margin-right: 0;
        margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 *((100% - 2 * 6rem) / 3 ) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 *((100% - 3 * 6rem) / 4 ) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 *((100% - 3 * 6rem) / 4 ) + 2 * 6rem); }

.header {
  width: 100%;
  height: 6rem;
  background-color: #01a3a4;
  position: relative; }
  .header nav {
    height: 100%; }
  .header__title {
    display: inline-block;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: .3rem; }

.navigation {
  list-style: none;
  font-size: 1.6rem;
  height: 100%; }
  .navigation::after {
    content: "";
    display: table;
    clear: both; }
  .navigation__link {
    height: 100%;
    padding-top: 1.5rem;
    display: inline-block;
    float: left;
    margin-left: 2rem; }
    .navigation__link a {
      display: inline-block;
      height: 100%; }
      .navigation__link a:link, .navigation__link a:visited {
        text-decoration: none;
        color: white; }
      .navigation__link a:hover, .navigation__link a:active {
        border-bottom: 4px solid #ff9f43; }

.section__content {
  padding: 3rem; }
