// COLORS
$color-grey-dark: #222f3e;
$color-grey-light: #576574;

$color-shadow: rgba(0,0,0, .4);

$color-white: #ffffff;

$color-teal-dark: #01a3a4;
$color-teal-light: #00d2d3;

$color-orange-dark: #ff9f43;
$color-orange-light: #feca57;

$color-salmon-dark: #ee5253;
$color-salmon-light: #ff6b6b;

$color-pink-dark: #f368e0;
$color-pink-light: #ff9ff3;


// GRID
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;