.sidebar {
    position: absolute;
    top:0;
    right: 0;
    width: 20%; 
    height: 100%;
    // background-color: $color-orange-dark;
    border-left: 3px solid $color-salmon-dark;
    
    // padding-bottom: 59rem;
    padding: 3rem 3rem 59rem 3rem;
}